<!-- Content will be rendered here -->
<router-outlet></router-outlet>
<div class="row p-5">
  <div class="col-md-6">
    NUMBER OF AGENCIES: {{ agencyList.length }}
  </div>
  <div class="col-md-6">
    Total corrections: {{totalCorrections}}
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Agency Name</th>
      <th>Sub-agencies</th>
      <th>CFR References count</th>
      <th>Title - Chapter</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agency of agencyList; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ agency.name }}</td>
      <td>
        <ul *ngIf="agency.children.length > 0">
          <li *ngFor="let item of agency.children; let j = index">
            {{ j + 1 }} - {{ item?.name }}
          </li>
        </ul>
      </td>
      <td>{{ agency.cfr_references.length }}</td>

      <td>
        <ul *ngIf="agency.cfr_references.length > 0">
          <li *ngFor="let item of agency.cfr_references">
            {{ item?.title }} - {{ item.chapter }}
            <br>
            <button (click)="fetchTitleData('2025-03-27', item?.title)">
              WORD COUNT FOR TITLE {{ item?.title }} {{ wordCount }}
            </button>
            <button (click)="getCorrectionByTitle(item.title)">
              Corrections FOR TITLE {{ item?.title }} {{ corrections }}
            </button>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
